<%=  form_with model: @blog_post, class: "space-y-6" do |form|%>
<% if form.object.errors.any?%>
<div class="p-4 bg-red-50 rounded-lg border border-red-200">
    <% form.object.errors.full_messages.each do |message|%>
    <div class="mt-2 text-sm text-red-700"><%= message%>
    </div>
    <%end%>
</div>
<%end%>
<div>
    <%= form.label :title, class: "block text-sm font-medium text-slate-700" %>
    <%= form.text_field :title, class: "mt-1 block w-full px-3 py-3 border  rounded-md border-slate-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
</div>

<div>
    <%= form.label :body, class: "block text-sm font-medium text-slate-700"%>
    <%= form.text_area :body, class: "mt-1 block w-full  px-3 py-3 border rounded-md border-slate-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
</div>

<div class="flex justify-end">
    <%= form.button  class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
</div>
<%end%>